/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.75em;
  text-align: left;
}

th {
  background-color: #313131;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #5e5e5e;
}